header(role='banner').flex
    nav
        ul.flex
            li.navigation-item#logo-container
                a(href='/')
                    img(src='/assets/img/logo.jpg', alt='safari logo')
            li.navigation-item.flex
                a(href='#tours') Les tours
            li.navigation-item.flex
                a(href='#cars') Les vehicules
            li.navigation-item.flex
                a(href='#about') A propos
            li.navigation-item.flex
                a(href='#contacts') Contact