extends ./layout/main

block body
    include ./partials/header
    main
        article.tour-detail
            header
                h1 Raid Mekong
                small tour de 21 jours
            p whatever description
            section
                h2 Details
                p foo bar
            section
                h2 gallerie
            section
                h2#devis Demande de devis
