html(lang='fr')
    head
    title Safari Asie - tours 4x4
    meta(charset='utf8')
    meta(name='viewport',content='width=device-width')
    link(rel='stylesheet',href='/assets/theme.css')
    body.flex.column
        block body
    footer.flex
        p copyright © 2016 Safari Raid Adventure - Tous droits reserves